DATABASE_URL=sqlite://data/db/db.db?mode=rwc

SERVER_ADDR=0.0.0.0:3000
SERVER_URL=https://localhost:3000
SERVER_TLS=true
SERVER_CERT_FILE_PATH=data/certs/localhost+1.pem
SERVER_KEY_FILE_PATH=data/certs/localhost+1-key.pem

SESSION_KEY=
SESSION_SECURE=true

MAILTRAP_TOKEN=
MAILTRAP_SANDBOX=
MAILTRAP_INBOX_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
