DATABASE_URL=sqlite://data/db/db.db?mode=rwc

SERVER_ADDR=localhost:3000

SESSION_SECRET=86YqhAOPNyO6O0jtQ1ghsyPoBi90cW4Z
SESSION_SECURE=false

MAILTRAP_TOKEN=
MAILTRAP_SANDBOX=
MAILTRAP_INBOX_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=https://localhost:3000/auth/google/redirect
