:root {
    --primary-font-family: "Inter", sans-serif;
    --text-color: var(--dark-color);
    --text-muted: var(--dark-color-light);
    --background-color: #ffffff;
    --hover-color: var(--light-color-dark);
    --transition-duration: 100ms;
    --space: 0.5rem;
    --aside-width-open: 180px;
    --aside-width-closed: 35px;
    --aside-width: var(--aside-width-closed);
    --aside-padding: 10px;
    --aside-space: 20px;
    --aside-border-color: transparent;
    --aside-background-color: var(--light-color-light);
    --header-height: 60px;
    --header-border-color: var(--border-color);
    --header-background-color: var(--light-color-light);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow: 0 2px 4px var(--shadow-color);
    --border-color: #e5e7eb;
    --border-radius: 0.5rem;
    --border: 1px solid var(--border-color);
    --primary-color: #3b82f6;
    --primary-color-hover: oklch(from var(--primary-color) calc(l + 0.25) calc(c - 0.12) h);
    --primary-color-light: oklch(from var(--primary-color) calc(l + 0.3) calc(c - 0.15) h);
    --primary-color-dark: oklch(from var(--primary-color) calc(l - 0.15) calc(c + 0.06) h);
    --secondary-color: #a1a1aa;
    --secondary-color-hover: oklch(from var(--secondary-color) calc(l + 0.25) calc(c - 0.12) h);
    --secondary-color-light: oklch(from var(--secondary-color) calc(l + 0.25) c h);
    --secondary-color-dark: oklch(from var(--secondary-color) calc(l - 0.15) calc(c + 0.06) h);
    --danger-color: #ef4444;
    --danger-color-hover: oklch(from var(--danger-color) calc(l + 0.25) calc(c - 0.12) h);
    --danger-color-light: oklch(from var(--danger-color) calc(l + 0.3) calc(c - 0.15) h);
    --danger-color-dark: oklch(from var(--danger-color) calc(l - 0.15) calc(c + 0.06) h);
    --warning-color: #f59e0b;
    --warning-color-hover: oklch(from var(--warning-color) calc(l + 0.15) c h);
    --warning-color-light: oklch(from var(--warning-color) calc(l + 0.2) c h);
    --warning-color-dark: oklch(from var(--warning-color) calc(l - 0.15) calc(c + 0.06) h);
    --success-color: #6dd52d;
    --success-color-hover: #43af23;
    --success-color-light: #86dc50;
    --success-color-dark: #45881b;
    --light-color: #fafffb;
    --light-color-hover: oklch(from var(--light-color) calc(l + 0.25) calc(c - 0.12) h);
    --light-color-light: oklch(from var(--light-color) calc(l + 0.3) calc(c - 0.15) h);
    --light-color-dark: oklch(from var(--light-color) calc(l - 0.01) c h);
    --dark-color: #111827;
    --dark-color-hover: oklch(from var(--dark-color) calc(l + 0.25) calc(c - 0.12) h);
    --dark-color-light: oklch(from var(--dark-color) calc(l + 0.3) calc(c - 0.15) h);
    --dark-color-dark: oklch(from var(--dark-color) calc(l - 0.15) calc(c + 0.06) h);
}

/* Dark Theme (prefer scheme dark)*/
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0f0f0f;
        --header-background-color: #0f0f0f;
        --aside-background-color: #0f0f0f;
        --border-color: #1f1f1f;
        --hover-color: #1a1a1a;
        --text-color: #f1f1f1;
        --text-muted: #ccc;
        --primary-color: #fefeff;
        --primary-color-light: #094fc2;
        --primary-color-hover: #0b5ee7;
        --secondary-color: #dbdbdb;
        --secondary-color-light: #525252;
        --secondary-color-hover: #696969;
        --success-color: #f0fbea;
        --success-color-light: #45881b;
        --success-color-hover: #58af23;
        --danger-color: #fff;
        --danger-color-light: #a50e0e;
        --danger-color-hover: #e01313;
        --warning-color: #fde7c3;
        --warning-color-hover: #f7b13c;
        --warning-color-light: #f59e0b;
        --warning-color-dark: #fff;
    }
}

/* Body Styles */
body {
    font-family: var(--primary-font-family);
    font-optical-sizing: auto;
    margin: 0;
    color: var(--text-color);
}

/* Aside Styles */
body > aside {
    width: var(--aside-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--aside-padding);
    margin: 0;
    transition: all var(--transition-duration) ease;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--aside-background-color);
    border-right: 1px solid var(--border-color);

    body.open & {
        width: var(--aside-width-open);

        li a {
            padding: 0.5rem;
            span {
                display: inline;
            }
        }

        i {
            margin: 0 0.5rem;
        }
    }

    h2 {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 36px;
    }

    a {
        padding: 0.3rem;
        text-decoration: none;
        color: var(--primary-color);
        display: flex;
        align-items: center;
    }

    nav {
        flex-grow: 1;
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        list-style: none;
        margin: 1rem 0;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;

        a {
            color: var(--primary-color);
            &:hover {
                background-color: var(--primary-color-light);
                color: var(--primary-color);
            }

            span {
                display: none;
                text-wrap-mode: nowrap;
            }
        }

        &.active a {
            background-color: var(--primary-color-light);
            color: var(--primary-color);
            border-radius: var(--border-radius);
        }
    }

    i {
        margin: auto;
    }

    .footer {
        min-height: fit-content;
        text-align: center;
        color: var(--aside-text-color);
    }
}

/* Main Content Styles */
body > main {
    padding-left: calc(var(--aside-width-closed) + var(--aside-space));
    padding-top: var(--header-height);
    background-color: var(--background-color);
    color: var(--main-text-color);
    transition: all var(--transition-duration) ease;
    margin: 0;
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;

    body.open > & {
        padding-left: calc(var(--aside-width-open) + var(--aside-space));
    }
}

/* Header Styles */
body > header {
    padding-left: calc(var(--aside-width-closed) + var(--aside-space));
    color: var(--primary-color);
    height: var(--header-height);
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all var(--transition-duration) ease;
    z-index: 1;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;

    body.open > & {
        padding-left: calc(var(--aside-width-open) + var(--aside-space));
    }

    .start {
        display: flex;
        align-items: center;
    }

    .title {
        flex-grow: 1;
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    .account {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button.toggle {
        border: none;
        font-size: 1.25rem;
        cursor: pointer;
        margin-right: 20px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        box-shadow: none;
        padding: 0.5rem;
        background-color: unset;
        color: var(--primary-color);

        div {
            display: flex;
        }
    }

    h3 {
        margin: 0;
        font-size: 20px;
    }
}

/* Utils */
.m-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    padding: 1rem;
}

.container.single {
    max-width: min(600px, 90%);
    margin: auto;
}

.placeholder {
    background-color: var(--secondary-color-light);
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.m {
    margin: var(--space);
}

.m-0 {
    margin: 0;
}

.m-b {
    margin-bottom: var(--space);
}

.p {
    padding: var(--space);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.cover {
    object-fit: cover;
    object-position: center;
}

.pointer {
    cursor: pointer;
}

.aspect-square {
    aspect-ratio: 1/1;
}

/* Form Styles */
legend {
    font-weight: medium;
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;

    &:focus-within {
        border-color: var(--primary-color);
    }

    .group {
        display: flex;

        span {
            color: var(--text-muted);
            text-wrap: nowrap;
        }

        input,
        select {
            width: auto;
            flex-grow: 1;
        }
    }
}

select,
input,
textarea {
    width: 100%;
    margin: 0;
    border: none;
    font-size: medium;
    background: none;
    appearance: none;
    color: var(--text-color);
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
}

select:disabled,
input:disabled,
textarea:disabled {
    background: none;
}

/* Button Styles */
button,
[role="button"] {
    padding: 0.8rem;
    font-size: medium;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    text-decoration: none;

    * {
        pointer-events: none;
    }

    &.noclick {
        pointer-events: none;
        cursor: default;
    }

    &.small {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    &:hover {
        background-color: var(--primary-color-hover);
    }

    &:disabled {
        cursor: default;
        background-color: var(--secondary-color-light) !important;
        color: var(--secondary-color) !important;
    }

    &.icon {
        display: flex;
    }

    &.active {
        background-color: var(--primary-color-hover);
    }

    &.clear {
        background: none !important;
        border: none;
        box-shadow: none;

        &:hover {
            background: none;
            color: var(--primary-color-dark);
        }

        &:focus {
            border: none;
        }

        &:disabled {
            background: none !important;
        }
    }

    &.danger {
        background: var(--danger-color-light);
        color: var(--danger-color);

        &:hover {
            background-color: var(--danger-color-hover);
        }

        &.clear {
            color: var(--danger-color);

            :hover {
                color: var(--danger-color-dark);
            }
        }
    }
    &.success {
        background: var(--success-color-light);
        color: var(--success-color-dark);

        &:hover {
            background-color: var(--success-color-hover);
        }

        &.clear {
            color: var(--success-color);

            &:hover {
                color: var(--success-color-dark);
            }
        }
    }

    &.warning {
        background: var(--warning-color-light);
        color: var(--warning-color-dark);
        &:hover {
            background-color: var(--warning-color-hover);
        }
        &.clear {
            color: var(--warning-color);

            &:hover {
                color: var(--warning-color-dark);
            }
        }
    }

    &.dark {
        background: var(--dark-color-light);
        color: var(--light-color);
        &:hover {
            background-color: var(--dark-color-hover);
        }
        &.clear {
            color: var(--dark-color);
            &:hover {
                color: var(--dark-color-dark);
            }
        }
    }

    &.secondary {
        background: var(--secondary-color-light);
        color: var(--secondary-color);
        &:hover {
            background-color: var(--secondary-color-hover);
        }
        &.clear {
            color: var(--secondary-color);
            &:hover {
                color: var(--secondary-color-dark);
            }
        }
    }

    &.light {
        background: var(--light-color-light);
        color: var(--light-color);
        &:hover {
            background-color: var(--light-color-hover);
        }
        &.clear {
            color: var(--light-color);
            &:hover {
                color: var(--light-color-dark);
            }
        }
    }
}

/* Button Group Styles */
div[role="group"] {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 0 2px 4px var(--shadow-color);
    width: fit-content;
    border-radius: var(--border-radius);

    &.clear {
        box-shadow: none;
    }

    button {
        padding: 0.5rem;
        border: none;
        margin: 0;
        border-radius: 0;
        box-shadow: none;

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;

    tr {
        border-bottom: 1px solid var(--border-color);
    }

    tr:last-child {
        border-bottom: none;
    }

    th,
    td {
        padding: 1rem 0.5rem;
        text-align: center;
        color: var(--text-color);
    }

    th {
        color: var(--text-muted);
    }

    &.compact {
        td,
        th {
            padding: 0.5rem;
        }
    }

    td {
        div[role="group"] {
            margin: 0 auto;
        }

        &:has(div[role="group"]) {
            padding: 0;
        }
    }

    tbody tr:hover {
        background-color: var(--hover-color);
    }

    tbody tr.htmx-swapping {
        opacity: 0;
        transition: all var(--transition-duration) ease-out;
    }
}

/* Modal Styles */
dialog {
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all var(--transition-duration) ease-out;

    &.htmx-added,
    &.htmx-swapping {
        opacity: 0;
    }

    article {
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        width: 90%;
        max-width: 500px;
        transition: all var(--transition-duration) ease-out;

        &.htmx-added,
        &.htmx-swapping {
            transform: scale(0.95);
            opacity: 0;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin: 0 0.8rem;
    }

    .close {
        border: none;
        box-shadow: none;
        background: none;

        &:hover {
            background: none;
        }
    }
}

/* Toast Styles */
.toast {
    position: fixed;
    bottom: 0px;
    left: 20%;
    width: 60%;
    margin: auto;
    z-index: 9;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all var(--transition-duration) ease-in-out;
    opacity: 1;

    &:is(.htmx-added, .htmx-swapping) {
        transform: translateY(5rem);
        opacity: 0;
    }

    .close {
        border: none;
        box-shadow: none;
        background: none;
        cursor: pointer;
        padding: 0;
        color: inherit;

        &:hover {
            background: none;
        }
    }

    &.success {
        background-color: var(--success-color-light);
        color: var(--success-color-dark);
    }

    &.warning {
        background-color: var(--warning-color-light);
        color: var(--warning-color-dark);
    }

    &.danger {
        background-color: var(--danger-color-light);
        color: var(--danger-color-dark);
    }
}

/* Spinner Styles */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    transform-origin: center;
    animation: spin 1s linear infinite;
    color: var(--primary-color);
    display: flex;
    width: fit-content;
    margin: auto;

    &.success {
        color: var(--success-color-dark);
    }
}

.indicator {
    position: absolute;
    top: calc(var(--header-height) + 10px);
    right: 20px;
}

/* Proggress Bar Styles */
.progress {
    height: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--primary-color-light);
    margin: 0rem 2rem 1rem 2rem;

    div {
        background: var(--primary-color);
        height: 100%;
        transition: width var(--transition-duration) ease;
        border-radius: var(--border-radius);
    }
}

/* Card Styles */
article,
[role="article"] {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;
    position: relative;
    text-decoration: none;
    color: var(--text-color);

    &.detail:hover {
        box-shadow: 0 4px 8px var(--shadow-color);
        cursor: pointer;
    }

    & > header {
        margin: -1rem -1rem 1rem -1rem;
        border-bottom: var(--border);
        background-color: var(--background-color);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);

        img,
        .placeholder {
            width: 150px;
            height: 150px;
            background-color: var(--secondary-color-light);
            border: none;
            object-fit: cover;
            object-position: center;
        }
    }
}
